@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .form-control {
    @apply outline-none border-2 border-gray-400 border-opacity-50 px-3 py-1 rounded
  }
  .btn-primary {
    @apply px-4 py-2 uppercase text-white bg-primary rounded
  }
}

body {
  font-family:  "Encode Sans Expanded", sans-serif;
}

.preloader {
	--hue: 120 !important;
	--bg: hsl(var(--hue),10%,90%) !important;
	--fg: hsl(var(--hue),10%,10%) !important;
	--primary: hsl(var(--hue),60%,55%) !important;
	--trans-dur: 0.3s !important;
	font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320)) !important;
}

.preloader {
	text-align: center !important;
	max-width: 20em !important;
	width: 100% !important;
}
.preloader__text {
	position: relative !important;
	height: 1.5em !important;
}
.preloader__msg {
	animation: msg 0.3s 13.7s linear forwards !important;
	position: absolute !important;
	width: 100% !important;
}
.preloader__msg--last {
	animation-direction: reverse !important;
	animation-delay: 14s !important;
	visibility: hidden !important;
}
.cart {
	display: block !important;
	margin: 0 auto 1.5em auto !important;
	width: 8em !important;
	height: 8em !important;
}
.cart__lines,
.cart__top,
.cart__wheel1,
.cart__wheel2,
.cart__wheel-stroke {
	animation: cartLines 2s ease-in-out infinite !important;
}
.cart__lines {
	stroke: var(--primary) !important;
}
.cart__top {
	animation-name: cartTop !important;
}
.cart__wheel1 {
	animation-name: cartWheel1 !important;
	transform: rotate(-0.25turn) !important;
	transform-origin: 43px 111px !important;
}
.cart__wheel2 {
	animation-name: cartWheel2 !important;
	transform: rotate(0.25turn) !important;
	transform-origin: 102px 111px !important;
}
.cart__wheel-stroke {
	animation-name: cartWheelStroke !important;
}
.cart__track {
	stroke: hsla(var(--hue),10%,10%,0.1) !important;
	transition: stroke var(--trans-dur) !important;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%) !important;
		--fg: hsl(var(--hue),10%,90%) !important;
	}
	.cart__track {
		stroke: hsla(var(--hue),10%,90%,0.1) !important;
	}
}

/* Animations */
@keyframes msg {
	from {
		opacity: 1;
		visibility: visible;
	}
	99.9% {
		opacity: 0;
		visibility: visible;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}
@keyframes cartLines {
	from,
	to {
		opacity: 0;
	}
	8%,
	92% {
		opacity: 1;
	}
}
@keyframes cartTop {
	from {
		stroke-dashoffset: -338;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: 338;
	}
}
@keyframes cartWheel1 {
	from {
		transform: rotate(-0.25turn);
	}
	to {
		transform: rotate(2.75turn);
	}
}
@keyframes cartWheel2 {
	from {
		transform: rotate(0.25turn);
	}
	to {
		transform: rotate(3.25turn);
	}
}
@keyframes cartWheelStroke {
	from,
	to {
		stroke-dashoffset: 81.68;
	}
	50% {
		stroke-dashoffset: 40.84;
	}
}

.pageNumbers li {
	padding: 10px;
	border: 1px solid #fff;
	cursor: pointer;
  }
  
  .pageNumbers li.active {
	background-color: #fff;
	color: #000;
  }
  
  .pagination {
	margin: 15px auto;
	display: flex;
	list-style: none;
	outline: none;
  }
  .pagination > .active > a{
	background-color: #0aad0a ;
	border-color: #0aad0a ;
	color: #fff;
  }
  .pagination > li > a{
	border: 1px solid #0aad0a ;
	padding: 5px 10px;
	outline: none;
	cursor: pointer;
	color: #fff;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color: #0aad0a ;
	border-color: #0aad0a;
	outline: none;
	color: #fff;
  }
  .pagination > li > a, .pagination > li > span{
	color: #0aad0a
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
	border-radius: unset;
	-webkit-border-radius: unset;
	-moz-border-radius: unset;
	-ms-border-radius: unset;
	-o-border-radius: unset;
	color: #fff;
  
  }
  
  .pagination > li.paginationDisabled  {
  display: none;
  }
  .nextClass , .prevClass  {
	  color: #0aad0a !important; ;
  }